body {
    background-color: #FBFBFB;
    font-family: 'Roboto', sans-serif;
}
.w3-content {
  background-color: none;
  max-width:2000px;
}
.first-container {
  background-color: red;
  opacity: 50%;
  width: 80%;
  height: auto;
}
.w3-content {
  box-shadow: 5px 4px 81px 32px rgba(148, 148, 148, 0.1);
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.center {
display: block;
margin-left: auto;
margin-right: auto;
width: 100%;
}
.topnav{
  background-color: none;
}
#title{
  bottom:0;
  font-size: 2em;
  cursor: default;
  font-weight: 500;
  color: #424242;
}
#title:hover{
color: #424242;
}
.botnav{
  background-color: none;
}
.flex-container a{

  color: #B3B3B3;
  text-decoration: none;
  font-size: 1.2vw;
  font-weight: 400;
  margin-bottom: 0;
}
.flex-container a:hover{
  color: #424242;
  font-weight: 400;
}

.flex-container {
  padding: 0;
  margin: 5%;
  list-style: none;
  display: flex;
}
.space-between {
  justify-content: space-between;
}
